*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Inter", sans-serif;
  background-color: #fff; /* Changed to white */
  color: #000;
}

h1, h2, h3 {
  font-family: "Inter", sans-serif;
}


header {
  position: sticky;
  top: 0;
  padding: clamp(12px, 2vw, 24px);

  display: flex;
  align-items: center;
}


.logo {
  flex: 0 0 auto;
}


nav {
  display: flex;
  align-items: center;

  flex: 1;
}


