@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
/*  --main-hue: 208; */
/*  --main-color: hsl(var(--main-hue), 92%, 54%); */
/*  --main-color-hover: hsl(var(--main-hue), 77%, 48); */
/*  --text-color: #000; */
/*  --nav-color: hsl(var(--main-hue), 17%, 79%); */
/*  --bg-color: #fff; */
/*  --light-text-color: #9ca7b6; */
/*  --input-bg-hover: hsla(var(--main-hue), 50%, 50%, 14%); */
/*  --input-text: #8c9aaf; */
}

a {
/*  text-decoration: none; */
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

/*  z-index: 4; */
}

header .container {
  max-width: 82rem;
  background-color: red;
  margin: 0 auto;
  padding: 0 1rem;
  height: 65px;
  display: flex;
 /* align-items: flex-end; */
}

.contact-form {
 /* height: 100vh; */
 /* min-height: 700px; */
 /* display: grid; */
 /* grid-template-columns: 1fr; */
 /* grid-template-rows: 1fr; */
} 

.contact .form-items > div {
 /* grid-column: 1/2; */
 /* grid-row: 1/2; */
}

header ul {
  display: flex;
  list-style: none;
/*  align-items: center; */
}

.logo {
display: flex;
align-items: center;
margin-right: 3rem;
}
  
.logo .images {
/*    display: grid; */
/*    grid-template-columns: 1fr; */
/*    grid-template-rows: 1fr; */
}
    
.logo img {
  height: 35px;
/*  grid-column: 1/2; */
/*  grid-row: 1/2; */
/*  margin-right: 0.8rem; */
}  

.logo img.logo-forDark {
/*  opacity: 0; */
}

.logo h2 {
/*  color: var(--text-color); */
/*  font-size: 1.55rem; */
/*  margin-top: 2px; */
}

.logo h2 span {
/*  color: var(--main-color); */
}

.nav-link {
/*  magin-left: 5.5rem; */
/*  padding: 0 1rem; */
/*  font-weight: 600; */
/*  font-size: 1rem; */
/*  color: hsl(var(--main-hue), 17%, 79%); */
/*  transition: 0.3s; */
}

.nav-link:hover {
/*  color: var(--main-color); */
}

.nav-link.theme-toggle {
/*  cursor: pointer; */
}

.theme-toggle .fa-moon {
/*  display: none; */
}
  
.theme-toggle .fa-sun {
/*  display: inline; */
} 

.contact {
/*  width: 100%; */
/*  overflow: hidden; */
/*  background-color: var(--bg-color); */
}

.contact .container {
/*  height: 100vh; */
/*  min-height: 700px; */
/*  displaz: grid; */
/*  grid-template-columns: 1fr; */
/*  grid-template-rows: 1fr; */
}

.contact .container > div {
/*  grid-column: 1/2; */
/*  grid-row: 1/2; */
}

.left {
/*  width: 100%; */
/*  max-width: 80rem; */
/*  margin: 0 auto; */
/*  padding: 65px 1.5rem 0; */
/*  display: repeat; */
/*  grid-template-columns: repeat (2, 1fr); */
/*  align-items: center; */
/*  position: relative; */
/*  z-index: 3;
}

.contact-heading h1 {
/*  font-weight: 600; */
/*  color: var(--text-color); */
/*  font-size: 3.5rem; */
/*  line-height: 0.9; */
/*  whites-space: nowrap; */
/*  margin-bottom: 1.2; */
}

.contact-heading h1 span {
/*  color: var(--main-color); */
}

.text {
/*  color: var(--light-text-color); */
/*  line-height: 1.1; */
/*  font-size: 1.7rem; */
}

.text a {
/*  color: var(--main-color); */
/*  transition: 0.3s; */
}

.text a:hover {
/*  color: var(--main-color-hover); */
}

form-wrapper {
/*  max-width: 3.2rem; */
}
  
.contact-form {
 /* display: grid; */
 /* margin-top: 2.55rem; */
 /* grid-template-columns: repeat(2, 1fr); */
 /* column-gap: 2rem; */
 /* row-gap: 1rem; */
}

.input-wrap {
/*  position: relative; */
}

.input-wrap.w-100 {
/*  grid-column: span 2; */
}

.contact-input {
/*  width: 100%; */
/*  background-color: var(--input-bg); */
/*  padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem; */
/*  border: none; */
/* outline: none; */
/*  font-family: inherit; */
/*  border-radius: 20px; */
/*  color: var(--text-color); */
/*  font-weight: 600; */
/*  font-size: 0.95rem; */
/*  transition: 0.3rem; */
}

.contact-input:hover {
/*  background-color: var(--input-bg-hover); */
}

.input-wrap label {
 /* position: absolute; */
 /* top: 50%; */
 /* left: calc(1.35rem + 2px); */
 /* transform: translateY(-50%); */
 /* color: var(--light-text-color); */
 /* pointer-events: none; */
}

.input-wrap .icon {
/*  position: absolute; */
/*  right: calc(1.35rem + 2px); */
/*  top: 50%; */
/*  transform: translateY(-50%); */
/*  pointer-events: none; */
/*  color: var(--input-text); */
/*  font-size: 1.25rem; */
}

text-area.contact-input {
/*  resize: none; */
/*  width: 100%; */
/*  min-height: 150px; */
}

text-area.contact-input ~ label {
/*  top: 1.2rem; */
/*  transform: none; */
}

text-area.contact-input ~ .icon {
/*  top: 1.3rem; */
/*  transform: none; */
}

  


  
  


  
  

  


