:root {
  --background: white;
  --foreground: black;

  --bar-on-foreground: white;

  --text-on-foreground: white;
}

header {
  position: sticky;
  top: 0;
  padding: 2px;
  background-color: var(--foreground);
  color: var(--text-on-foreground);
  border-radius: 4px;
  display: none;
}

.hamburger input {
  appearance: none:
  background-color: var(bar-on-foreground);
}

h1 {
  color: blue;
}

a {
  text-decoration: none;
}
