*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: white;
  --foreground: black;

  --bar-on-foreground: white;

  --text-on-foreground: white;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 5px;
  padding: 20px;
  background-color: var(--foreground);
  color: var(--text-on-foreground);
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.topbar.hidden {
transform: translateX(-100%);
}

.topbar-flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 9999px;
}

.hamburger input {
  appearance: none;
  cursor: not-allowed;
  pointer-events: none;
  width: 25px;
  height: 4px;
  background-color: var(--bar-on-foreground);
  border-radius: 9999px;
}

h1 {
  color: red;
}

a {
  text-decoration: none;
}
