*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: white;
  --foreground: black;

  --bar-on-foreground: white;

  --text-on-foreground: white;

  --animation-timing: 200ms ease-in-out;

  --topbar-margin: 1rem;

  --grid-color: #00000014;
  --grid-size: 15px 15px;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

header {
  z-index: 999;
  position: relative;
  top: 0;
  margin: 5px;
  padding: 20px;
  background-color: var(--foreground);
  color: var(--text-on-foreground);
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.canvas {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(46, 1fr);
}


.canvas > div {
  border: 1px solid #d3d3d3;
}


.content {
  position: relative;
  z-index: 3;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: black;
  padding: 1rem;
  margin: var(--topbar-margin);
  border-radius: 5px;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
}

.topbar.hidden {
  transform: translateX(calc(-100% - var(--topbar-margin)));
}

.topbar-flex1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: white;
  font-size: 16px;
}

.logo-one {
  color: #ff0066;
  font-size: 24px;
  font-weight: bold;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 9999px;
}

.hamburger input {
  appearance: none;
  cursor: not-allowed;
  pointer-events: none;
  width: 25px;
  height: 4px;
  background-color: var(--bar-on-foreground);
  border-radius: 9999px;
}

.hamburger:has(input:checked)::before{
  background-color: white;
  translate: 0 8px;
  rotate: 45deg;
  transform-origin: center;
  transition: translate var(--animation-timing), rotate var(--animation-timing); 
}

.hamburger:has(input:checked)::after{
  background-color: white;
  translate: 0 -8px;
  rotate: -45deg;
  transform-origin: center;
  transition: translate var(--animation-timing), rotate var(--animation-timing); 
}

.hamburger input:checked {
  opacity: 0;
}

.topbar-flex2 {
  display: none;
}

.topbar:has(input:checked) .topbar-flex1 {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.9);
}

.topbar:has(input:checked) .topbar-flex2 {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px;
  background-color: black;
  border-radius: 4px;
}

.nav1 {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: red;
  color: white;
}

.nav2 {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0a0a0a;
  color: white;
}

.nav3 {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0a0a0a;
  color: white;
}

.nav4 {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0a0a0a;
  color: white;
}

main {
  padding-top: 90px;
  margin: 20px;
  transition: filter 0.3s ease, opacity 0.3s ease;
  filter: blur(0px);

}

.topbar:has(input:checked) ~ main {
  opacity: 0.9;  
  filter: blur(1px);
}

body{
  background: rgb(255 , 255, 255);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right, var(--grid-color) 2px, transparent 1px), linear-gradient(to bottom, var(--grid-color) 2px, transparent 1px);
  background-size: var(--grid-size);
      }

main.no-blur {
  filter: blur(0px);
}

.page-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;}

h1 {
  color: black;
}

a,
a:active,
a:focus,
a:focus-visible,
a:visited {
  text-decoration: none;
  color: inherit;
}
