*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.topbar {
  display: flex;
  background-color: black;
  margin: 0.9rem;
  border-radius: 5px;
}

.hamburger::before,
.hamburger::after,
.hamburger index {
  content: "";
  height: 5px;
  width: 5px;
  background-color: white;
}

.hamburger input {
  appearance: none;
  cursor: not-allowed;
}
