*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --animation-timing1: 200ms ease-in-out;
  --animation-timing2: 300ms ease-in-out;
  --animation-timing3: 400ms ease-in-out;
  --animation-timing4: 500ms ease-in-out;

}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

.topbar {
  position: relative;
  display: flex;
  background-color: black;
  padding: 1rem;
  margin: 0.9rem;
  border-radius: 5px;
  z-index: 999;
  display: flex;
  aligh-items: center;
  justify-content: space-between;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after,
.hamburger input {
  content: "";
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 9999px;
}

.hamburger input {
  appearance: none;
  cursor: not-allowed;
  pointer-events: none;
}

.hamburger:has(input:checked)::before{
  background-color: white;
  translate: 0 9px;
  rotate: 45deg;
  transform-origin: center;
  transition: translate var(--animation-timing), rotate var(--animation-timing); 
}

.hamburger:has(input:checked)::after{
  background-color: white;
  translate: 0 -9px;
  rotate: -45deg;
  transform-origin: center;
  transition: translate var(--animation-timing), rotate var(--animation-timing); 
}

.hamburger input:checked {
  opacity: 0;
}

/*nav {
  position: absolute;
  color: white;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
}*/

.topbar:has(input:checked) {
  border-radius: 5px 5px 0 0 ;
}

.nav1 {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 0 0 0 0;
  transition: opacity var(--animation-timing1);
}

.nav2 {
  opacity: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
  transition: opacity var(--animation-timing2);
}

.topbar:has(input:checked) .nav1 {
  opacity: 1;
  transition: opacity var(--animation-timing);
}

.topbar:has(input:checked) .nav2 {
  opacity: 1;
  transition: opacity var(--animation-timing);
}

/*.hamburger:has(input:checked) .nav-items {
  opacity: 1;
  translate: 0 0;
  transition: translate var(--animation-timing), opacity var(--animation-timing); 
}*/

/*.nav-items {
  position: absolute;
  opacity: 0;
  translate: 0 -100%;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0 0 5px 5px ;
  z-index: 3;
  transition: translate var(--animation-timing), opacity var(--animation-timing);
}*/

a,
a:active,
a:focus,
a:focus-visible,
a:visited {
  text-decoration: none;
  color: inherit;
}
